<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/General.css">
    <link rel="stylesheet" href="/css/library.css">
    <title>HighScore Haven</title>
</head>
<body>
   <%- include("./partials/navHeader.ejs") %>
    <main>
        <% if (games.length === 0) { %>
            <h1>je library is leeg...</h1>
        <% } else { %>
            <ul class="library">
                <% for (let game of games) { %>
                    <% const entry = libraryEntries.find(e => e.gameId === game.id) %>
                    <li class="library_game">
                        <form method="POST" action="/library/delete/<%= entry.gameId %>" class="delete-form">
                            <button class="deleteBtn" type="submit">🗑️</button>
                        </form>

                        <a href="/detail/<%= game.id %>" class="card-link">
                            <img src="<%= game.background_image %>" alt="<%= game.name %>">
                            <div class="infocard">
                                <h3 class="gameName"><%= game.name %></h3>
                                <p class="gameSituation"><%= entry.status %></p>
                                <p>speeltijd: <span class="gamePlaytime"><%= game.playtime %></span>u</p>
                                <div class="btn-wrapper">
                                    <button class="bekijkenBtn">bekijken</button>
                                </div>
                            </div>
                        </a>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </main>
</body>
</html>